@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Handjet:wght@500&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Handjet:wght@500&family=Lato&family=Montserrat&display=swap');

:root {
    --main-bg-color: #2370f4;
    ;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: var(--main-bg-color);
    /* border: 2px solid var(--main-bg-color); */
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    font-weight: bolder;
}

.logo img {
    width: 88px;
    padding: 0 25px;

}

.container {
    min-height: calc(100vh - 58px - 12vh);
}
.search_bar{
    display: flex;
    align-items: center;


}
.search_bar input{
    width: 493px;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;

}
.search_bar button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.slider{
    margin: 12px auto;
    width: 80vw;
}
.card{
    font-family: 'Montserrat', sans-serif;
    max-width: 90vw;
    /* background-color: red; */
    margin: auto;
}
.lines{
    font-family: 'Montserrat', sans-serif;
    
}

.text-center{
    text-align: center;
    margin: 8px 0px;
}
.text-center2{
    text-align: center;
    color: green;
    margin: 8px 0px;
}
.text-center3{
    text-align: center;
    color: red;
    margin: 8px 0px;
}
.card-item{
    width: 10vw;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px;
}
.my-2{
    margin: 26px -38px;
    /* display: inline flex;
    flex-direction: column; */
}
.card{
    font-family: 'Montserrat', sans-serif;
    max-width: 90vw;
    /* background-color: red; */
    margin: auto;
}